PORT=5000
DATABASE_URL="postgresql://postgres:dkzEdxFEDTOcuxTvduEcsCFYjNszgsCE@postgres.railway.internal:5432/railway"
REDIS_URL="redis://default:fbhpEiRhQIRjORwkGaUOqSPJZnYhpqid@redis.railway.internal:6379"

# Clerk
CLERK_SECRET_KEY=••••••••••••••••••••••••••••••••••••••••••••••••••

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Razorpay
RAZORPAY_KEY_ID="rzp_test_SvyVCV7R8ZBVIo"
RAZORPAY_KEY_SECRET="niGB4vqgmzCBWzY0FETEocXj"
